* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    height: 60px;

}

.upgrade-btn {
    border: 1px solid white;

    width: 200px;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    background-color: black;

    text-align: center;
    float: right;



}


#sidebar {
    background-color: green;
    height: 400px;
    float: left;
    /*devo creare vari content e inserire all'interno un lista*/
}

main {
    background-color: coral;
    height: 400px;
    /*devo creare delle section(3),poi creare delle classi per identificarle*/
}

footer {
    background-color: red;
    height: 60px;
    /*il mio deve avere una section con varie liste che mi permetteranno de fare una navbar scroll*/
}

.container {
    height: calc(100vh - 60px);
}

@media screen and (min-width: 768) {
    #sidebar {
        width: 50px;
        background-color: black;
    }

}

@media screen and (min-width:960) {
    #sidebar {
        width: 200px;
        background-color: black;
    }

}